<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <title>Contact</title>
    <style>
        h1 {color: aquamarine; text-align: center; font-size: 180px;}
        p {color: blanchedalmond; text-align: center; font-size: 70px;}
        body{background-color: darkslategray; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
    </style>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <h1>
        hey! <%= name %>
    </h1>
    <p>
        contact us at : <%= num %>
    </p>
</body>
</html>