<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <title>Contact</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <h1>
        hey!
    </h1>
    <p>
        contact us at : 185855
    </p>

    <form id="contact-form" method="POST" action="/contact">

        <label for="name">Please Enter a name </label>
        <input type="text"  name="who">
        <label for="email">Please Enter your email </label>
        <input type="text"  name="email">
        <label for="note">Whats up </label>
        <input type="text"  name="note">
        <input type="submit" value="submit">
        
    </form>

</body>
</html>