<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <title>Home</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <h1>
        This is Home Page
    </h1>
    <p>
        This is going to get bigger
    </p>
</body>
</html>