<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <title>Profile</title>
    <style>
        h1 {color: aquamarine; text-align: center; font-size: 180px;}
        p {color: black; text-align: center; font-size: 120px;}
        ul{color: black; text-align: center; font-size: 80px;}
        body{background-color: darkslategray; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
    </style>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <h1>
        hey! <%= data.name %>   
    </h1>
    <p>
        <%= data.name %> Hobbies are:
        <ul>

            <% data.hobbies.forEach(function(item){ %>
                <li> <%= item %> </li>
            <% }) %>            
        </ul>
    </p>
</body>
</html>